.message {
  &_head {
    height: 67px;
    border-bottom: 1px solid #eaeaea;
    padding: 25px 15px 10px;
    line-height: 32px;
    .title {
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &_body {
  }
  &_foot {
  }
}
